header {
  font-weight: bolder;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

body {
  background-color: bisque;
  background-image: repeating-linear-gradient(to right);
}

#headunder {
  font-size: 100px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: rgb(0, 0, 0);
}

footer {
  left: 0;
  margin: 0;
  padding: 5px;
  font-style: inherit;
  position: fixed;
  bottom: 0;
  font-weight: bolder;
  font-size: large;
  color: rgb(0, 0, 0);
}

.social-image:hover {
  filter: drop-shadow(0 0 0.75rem rgb(97, 91, 92));
}

#first,
#second,
#third {
  display: inline;
  padding: 3px;
}
